<ion-header>
  <ion-toolbar>
    <ion-title>Dogs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid >
    <ion-row  justify-content-center> 
      <ion-col  size="12" size-sm  size-md>
          
          <ion-img [src]="dogImage?.message"></ion-img>
          <h1>1</h1>
         
      </ion-col>
      <ion-col size="12"  size-sm size-md>
          <ion-img [src]="dogImage?.message"></ion-img>
          <h1>2</h1>
      </ion-col>
      <ion-col size="12"  size-sm size-md>
          <ion-img [src]="dogImage?.message"></ion-img>
          <h1>3</h1>
      </ion-col>
    </ion-row>
  </ion-grid>
 
</ion-content>
